# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://tharuavash59_db_user:DGzATn7hCHEfxfm3@cluster0.ddj9rjv.mongodb.net/?appName=Cluster0

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# TMDB API Configuration
TMDB_API_KEY=bb22710c0dc9ace90ebb0d429ad7efca
TMDB_READ_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYjIyNzEwYzBkYzlhY2U5MGViYjBkNDI5YWQ3ZWZjYSIsIm5iZiI6MTc2MjAwMjY0Ni4yMDcsInN1YiI6IjY5MDYwNmQ2N2JkMWJiNmUwZTU5N2M1NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f0bYO630bTuNfKIKpA7_P49fd1zxpWY9UjjDe0nWmd4
OMDB_API_KEY=fc375587

# Google Gemini AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
